
html, body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.section-description {
    background-color: black;

}

.title-name {
    font-family: Inter sans-serif;
    font-size: 3em; /* 48 / 16 */
    font-weight: 800;
    color: white;
    margin: 0.33em 14px 0.52em; /* 16  / 48*/
}

.description {
    font-family: "Public Sans", sans-serif;
    font-size: 1em; /* 16 / 16*/
    line-height: 1.625em; /* 26 / 16*/
    margin-left: 14px;
    color: white;
    padding-bottom: 135px;

}

/* section container_profil */
.item_list:active, .item_list_2:active, .item_list_3:active {
    border: 5px solid blue;
    position: relative;
}

.item_list_2:active::after, .item_list_3:active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;
    background-color: black;
}

.content {
    display: none;
    opacity: 0;
    position: absolute; /* Empêche le scroll */
    top: 0;
    left: 0;
    width: 100%;
}

.content:target {
    display: block;
    opacity: 1;
    position: relative; /* Réaffiche au bon endroit */
}

.container_profil {
    margin-left: 24px;

}

.container_list {
    font-size: 1.125em; /* 18 / 16 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 600;
    margin-bottom: 0.5555em; /* 10 / 18 */
    color: black;
}

.item_list {
    margin-bottom: 10px;
}

.title_profil {
    font-size: 1.375em; /* 22 / 16 */
    font-family: Inter, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5454em; /* 12 / 22 */
}

.description_profil {
    font-size: 0.875em; /* 14 / 16 */
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 1.7142em; /* 24 / 14 */
}

.text_profil {
    font-size: 0.875em; /* 14 / 16 */
    font-family: "Public Sans", sans-serif;
    margin-top: 1.7142em; /* 24 / 14 */
    margin-right: 1.7142em; /* 24 / 14 */
    line-height: 1.7142em; /* 24 / 14 */
}

/* Section 10 choses a savoir sur moi */
.container_quality {
    background-color: black;
    overflow-x: auto;
    margin-bottom: 1.5em; /* 24 / 16*/

}


.number {
    font-size: 1.5em; /* 24 / 16*/
    color: #959599;
    margin-left: 1em; /* 24 / 24 */

}

.title_quality {
    font-size: 1.125em; /* 18 / 16 */
    color: white;
    margin-left: 1.33333em; /* 24 / 18 */
    margin-top: 1.33333em; /* 24 / 18 */
}

.main_title {
    font-size: 1.3333em; /* 24 / 16 */
    text-align: center;
    color: white;
    margin-top: 35px; /* 35 / 24 */
}

.text_quality {
    font-size: 16px; /* 16 / 16 */
    color: white;
    margin: 1.33333em; /* 24 / 16 */
    display: block;
}

.line {
    margin: 24px;
}

/*Mes compétence*/
.competence {
    margin-left: 24px;
}

.container_competence {
    display: flex;
    gap: 15px;
    flex-direction: row;
    overflow-x: auto;

}

.titel-competence {
    font-size: 1.8125em; /* 29 / 16*/
    font-family: Inter, sans-serif;
    line-height: 1em;
    font-weight: 700;
    color: #1B1B1B;
    margin-bottom: 1.8620em; /* 54 / 29 */
}

.item_competence_1, .item_competence_2, .item_competence_3, .item_competence_4 {
    background-color: black;
}

.titel-competence_1, .titel-competence_2, .titel-competence_3, .titel-competence_4 {
    font-size: 1.375em; /* 22 / 16*/
    font-family: "Public Sans", sans-serif;
    top: 18.88em; /* 400 / 22*/
    left: 0.7272em; /* 16  / 22 */
    color: white;
    position: relative;
}


/*Section footer*/
.footer {
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
    padding-top: 9.625em; /* 154px / 16*/
    padding-left: 1.5em; /* 24 / 16*/
    margin-top: 10px;
    width: 100%;
}

.title {
    font-size: 1.125em; /* 18 / 16*/
    font-family: "Inter", sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 2.444444em; /* 44 / 18*/

}

.description-projet {
    font-size: 0.875em; /* 14 / 16*/
    line-height: 1.642857142857143em; /* 23 / 14*/
    margin-bottom: 1em; /* 14 / 14*/
    font-family: "Public Sans", sans-serif;
    color: #B9B9BB;
    display: block;
}

.me {
    font-size: 0.9em; /* 14.4 / 16*/
    margin-bottom: 6.319em; /* 91 / 14.4*/
    font-weight: normal;
    font-family: Inter, sans-serif;
}

section.container {
    font-size: 0.875em; /* 14/ 16 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: black;
    color: white;

    padding: 6.5em 0 1.714em; /* 24 / 14 */ /* 91 / 14 */ /* 56 / 14*/
}

.item + .item {
    margin-bottom: 0.800em; /* 11 / 16*/
}

.follow {
    font-size: 0.875em; /* 14 / 16*/
    font-family: Inter, sans-serif;
    font-weight: normal;
    color: #959599;
    display: block;
    margin-bottom: 0.714em; /* 10 / 14*/
}

.reseaux-social {
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: #17161B;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 14px;
}


.other {
    font-size: 14px;
    display: block;
    margin-bottom: 18px;
}

.news {
    font-size: 14px;
}

.container_2 {
    color: #959599;
    margin-top: 73px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 66px;
}

.page-details {
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    color: #959599;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 55px;
}


@media screen and (min-width: 1024px) {
    .title-name {
        font-size: 72px;
        margin-left: 24px;
        margin-bottom: 36px;
        background-color: black;
    }

}
