/*  début du  menu déroulant */

.no-js .dropdown .menu__deroulant {
  display: none; /* Caché par défaut */
}

/* Desktop : affichage au survol */
.no-js .dropdown:hover .menu__deroulant,
.no-js .dropdown .menu__deroulant:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Mobile : affichage en tapant sur l'élément */
.no-js .dropdown:focus-within .menu__deroulant {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.selected {
  font-size: 17px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  max-width: 250px;
  padding: 16px;
  margin-right: 16px;
}

.select-clicked {
  border: 5px blue solid;
  padding: 16px;
  max-width: 250px;
  box-shadow: 0 0 0.8em gray;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
  transition: 0.3s;
  position: absolute;
  left: 160px;
}

#caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
  transition: 0.3s;
  position: absolute;
  left: 115px;
}


.caret-rotate {
  transform: rotate(180deg);
}

.menu__deroulant {
  font-size: 16px;
  list-style: none;
  padding: 0.2em 0.5em;
  background: black;
  border-radius: 0.5em;
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu__deroulant a {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
}

.menu__deroulant a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5em 0;
}

.menu__deroulant li a:hover {
  background: #23242a;
  border-radius: 0.5em;
}

.menu__deroulant li:focus {
  border-bottom: 2px white;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}


/* fin menu déroulant  */
