.title_info {
  margin-left: 1em; /* 1em */
}

.info {
  font-size: 20px; /* 20 / 16 */
  background-color: #17171b;
  color: white;
  padding: 1em; /* 20 / 20 */
}

.article {
  display: flex;
  gap: 4em; /* 80 / 20 */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1.6em; /* 32 / 20 */
  margin-left: 0.8em; /* 16 / 20 */
  margin-bottom: 3em; /* 60 / 20 */


}


.title_article {
  margin-bottom: 0.8em; /* 16 / 20 */
:}

.arrow_right, .arrow_left {
  display: none;
}
